<!DOCTYPE html>
<html>
<head>
   <title>Search</title>
   <link rel="stylesheet" type="text/css" href="static/question.css">
</head>
<div class ="container">
<body>

   <a class="btn btn-success pull-right" href="http://www.csdate.me/logout" role="button">Log Out</a>
   <div class = "col-xs-12 logo">
      <img src = "static/images/logo.png" alt = "logo.png">
   </div>   
   
   <form> 
   <div class = "col-xs-12 search">
      <div class = "col-xs-8 search">
            <input type = "text" name = "search" placeholder = "ex: Java" required>
            <select name = "attribute" required>
               <option value = "firstName"> First name </option>
               <option value = "middleName"> Middle name </option>
               <option value = "lastName"> Last name </option>
               <option value = "state"> State </option>
               <option value = "city"> City </option>
               <option value = "favoriteOs"> Favorite OS </option>
               <option value = "phoneOs"> Smartphone OS </option>
               <option value = "gaming"> Gaming preference </option>
               <option value = "favLang"> Favorite Language </option>
               <option value = "favHobby"> Favoirte Hobby </option>
               <option value = "wpm"> WPM Range (n-n) </option>
      </div>
   </div>
   </form>

   <div class = "col-xs-5" > </div>
      <div class = "col-xs-7 submit">
         <br> <input type="submit" name = "submit">
      </div> 
</body>
</div>
</html>